{{- range $index, $coordinator := .Values.coordinators }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: memgraph-coordinator-{{ $coordinator.id }}
spec:
  serviceName: "memgraph-coordinator-{{ $coordinator.id }}"
  replicas: 1
  selector:
    matchLabels:
      app: memgraph-coordinator-{{ $coordinator.id }}
      role: coordinator
  template:
    metadata:
      labels:
        app: memgraph-coordinator-{{ $coordinator.id }}
        role: coordinator
    spec:
      {{- if $.Values.affinity.enabled }}
      affinity:
        {{- if $.Values.affinity.nodeSelection }}
        # Node Selection Affinity: Scheduled on nodes with specific label key and value
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: {{ $.Values.affinity.roleLabelKey }}
                operator: In
                values:
                - {{ $.Values.affinity.coordinatorNodeLabelValue }}
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: role
                  operator: In
                  values:
                  - coordinator
              topologyKey: "kubernetes.io/hostname"
        {{- else if $.Values.affinity.unique }}
        # Unique Affinity: Schedule pods on different nodes
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - coordinator
                - data
            topologyKey: "kubernetes.io/hostname"
        {{- else if $.Values.affinity.parity }}
        # Parity Affinity: One coordinator and one data node per node
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: role
                      operator: In
                      values:
                        - data
                topologyKey: "kubernetes.io/hostname"
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - coordinator
            topologyKey: "kubernetes.io/hostname"
      {{- end }}
    {{- end }}
      initContainers:
      - name: init
        image: "{{ $.Values.memgraph.image.repository }}:{{ $.Values.memgraph.image.tag }}"
        volumeMounts:
        {{- if $.Values.memgraph.coordinators.volumeClaim.storagePVC }}
        - name: memgraph-coordinator-{{ $coordinator.id }}-lib-storage
          mountPath: /var/lib/memgraph
        {{- end }}
        {{- if $.Values.memgraph.coordinators.volumeClaim.logPVC }}
        - name: memgraph-coordinator-{{ $coordinator.id }}-log-storage
          mountPath: /var/log/memgraph
        {{- end }}
        command: [ "/bin/sh","-c" ]
        args: [ "chown -R memgraph:memgraph /var/log; chown -R memgraph:memgraph /var/lib" ]
        securityContext:
          privileged: true
          readOnlyRootFilesystem: false
          capabilities:
            drop: [ "all" ]
            add: [ "CHOWN" ]
          runAsUser: 0
          runAsNonRoot: false
      containers:
      - name: memgraph-coordinator
        image: "{{ $.Values.memgraph.image.repository }}:{{ $.Values.memgraph.image.tag }}"
        imagePullPolicy: {{ $.Values.memgraph.image.pullPolicy }}
        ports:
        - containerPort: {{ $coordinator.boltPort }}
        - containerPort: {{ $coordinator.managementPort }}
        - containerPort: {{ $coordinator.coordinatorPort }}
        args:
        {{- range $arg := $coordinator.args }}
        - "{{ $arg }}"
        {{- end }}
        env:
        - name: MEMGRAPH_ENTERPRISE_LICENSE
          value: "{{ $.Values.memgraph.env.MEMGRAPH_ENTERPRISE_LICENSE }}"
        - name: MEMGRAPH_ORGANIZATION_NAME
          value: "{{ $.Values.memgraph.env.MEMGRAPH_ORGANIZATION_NAME }}"
        volumeMounts:
        {{- if $.Values.memgraph.coordinators.volumeClaim.storagePVC }}
          - name: memgraph-coordinator-{{ $coordinator.id }}-lib-storage
            mountPath: /var/lib/memgraph
        {{- end }}
        {{- if $.Values.memgraph.coordinators.volumeClaim.logPVC}}
          - name: memgraph-coordinator-{{ $coordinator.id }}-log-storage
            mountPath: /var/log/memgraph
        {{- end }}
  volumeClaimTemplates:
    {{- if $.Values.memgraph.coordinators.volumeClaim.storagePVC }}
    - metadata:
        name: memgraph-coordinator-{{ $coordinator.id }}-lib-storage
      spec:
        accessModes:
        - "ReadWriteOnce"
        {{- if $.Values.memgraph.coordinators.volumeClaim.storagePVCClassName }}
        storageClassName: {{ $.Values.memgraph.coordinators.volumeClaim.storagePVCClassName }}
        {{- end }}
        resources:
          requests:
            storage: {{ $.Values.memgraph.coordinators.volumeClaim.storagePVCSize }}
    {{- end }}

    {{- if $.Values.memgraph.coordinators.volumeClaim.logPVC }}
    - metadata:
        name: memgraph-coordinator-{{ $coordinator.id }}-log-storage
      spec:
        accessModes:
        - "ReadWriteOnce"
        {{- if $.Values.memgraph.coordinators.volumeClaim.logPVCClassName }}
        storageClassName: {{ $.Values.memgraph.coordinators.volumeClaim.logPVCClassName }}
        {{- end }}
        resources:
          requests:
            storage: {{ $.Values.memgraph.coordinators.volumeClaim.logPVCSize }}
    {{- end }}
---
{{- end }}
