{{- range $index, $data := .Values.data }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: memgraph-data-{{ $data.id }}
spec:
  serviceName: "memgraph-data-{{ $data.id }}"
  replicas: 1
  selector:
    matchLabels:
      app: memgraph-data-{{ $data.id }}
      role: data
  template:
    metadata:
      labels:
        app: memgraph-data-{{ $data.id }}
        role: data
    spec:
      affinity:
        {{- if $.Values.affinity.nodeSelection }}
        # Node Selection Affinity: Scheduled on nodes with specific label key and value
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: {{ $.Values.affinity.roleLabelKey }}
                operator: In
                values:
                - {{ $.Values.affinity.dataNodeLabelValue }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - data
            topologyKey: "kubernetes.io/hostname"
        {{- else if $.Values.affinity.unique }}
        # Unique Affinity: Schedule pods on different nodes where there is no coordinator or data pod
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - coordinator
                - data
            topologyKey: "kubernetes.io/hostname"
        {{- else if $.Values.affinity.parity }}
        # Parity Affinity: One coordinator and one data node per node, coordinator schedules first, needs to be in pairs
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: role
                    operator: In
                    values:
                      - coordinator
              topologyKey: "kubernetes.io/hostname"
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - data
            topologyKey: "kubernetes.io/hostname"
        {{- else }}
        # Default Affinity: Avoid scheduling on the same node
        podAntiAffinity:
           preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: role
                      operator: In
                      values:
                        - data
                topologyKey: "kubernetes.io/hostname"
        {{- end }}

      initContainers:
      - name: init
        image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
        volumeMounts:
        - name: memgraph-data-{{ $data.id }}-lib-storage
          mountPath: /var/lib/memgraph
        - name: memgraph-data-{{ $data.id }}-log-storage
          mountPath: /var/log/memgraph
        command: [ "/bin/sh","-c" ]
        # The permissions have to be explicitly adjusted because under some k8s
        # environments permissions set under
        # https://github.com/memgraph/memgraph/blob/master/release/debian/postinst
        # get overwritten. Sometimes, PVC are created using new partitions ->
        # lost+found directory should not change its permissions so it has to
        # be excluded.
        args:
          - >
            cd /var/log/memgraph;
            find . -path ./lost+found -prune -o -exec chown {{ $.Values.memgraphUserGroupId }} {} +;
            cd /var/lib/memgraph;
            find . -path ./lost+found -prune -o -exec chown {{ $.Values.memgraphUserGroupId }} {} +;
            {{- if $.Values.persistentVolumeClaim.createCoreDumpsClaim }}
            cd {{ $.Values.persistentVolumeClaim.coreDumpsMountPath }};
            find . -path ./lost+found -prune -o -exec chown {{ $.Values.memgraphUserGroupId }} {} +;
            {{- end }}
        securityContext:
          readOnlyRootFilesystem: true
          runAsUser: 0 # Run as root
          capabilities:
            drop: [ "ALL" ]
            add: [ "CHOWN" ]
      {{- if $.Values.sysctlInitContainer.enabled }}
      - name: init-sysctl
        image: busybox
        command: ['sh', '-c', 'sysctl -w vm.max_map_count={{ $.Values.sysctlInitContainer.maxMapCount }}']
        securityContext:
          privileged: true
          runAsUser: 0
      {{- end }}

      {{- if $.Values.persistentVolumeClaim.createCoreDumpsClaim }}
      - name: init-core-dumps
        image: busybox
        command: ['/bin/sh', '-c']
        args:
          - >
            echo '{{ $.Values.persistentVolumeClaim.coreDumpsMountPath }}/core.%e.%p.%t.%s' | tee /proc/sys/kernel/core_pattern;
            if [ -d /proc/sys/kernel/yama ]; then echo '0' | tee /proc/sys/kernel/yama/ptrace_scope; fi
        securityContext:
          privileged: true
          runAsUser: 0
      {{- end }}

      containers:
      - name: memgraph-data
        image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
        imagePullPolicy: {{ $.Values.image.pullPolicy }}
        ports:
        - containerPort: {{ $.Values.ports.boltPort }}
        - containerPort: {{ $.Values.ports.managementPort }}
        - containerPort: {{ $.Values.ports.replicationPort }}
        args:
        {{- range $arg := $data.args }}
        - "{{ $arg }}"
        {{- end }}
        env:
          {{- if $.Values.secrets.enabled }}
          - name: MEMGRAPH_USER
            valueFrom:
              secretKeyRef:
                name: {{ $.Values.secrets.name }}
                key: {{ $.Values.secrets.userKey }}
          - name: MEMGRAPH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ $.Values.secrets.name }}
                key: {{ $.Values.secrets.passwordKey }}
          {{- end }}
          - name: MEMGRAPH_ENTERPRISE_LICENSE
            value: {{ $.Values.env.MEMGRAPH_ENTERPRISE_LICENSE }}
          - name: MEMGRAPH_ORGANIZATION_NAME
            value: {{ $.Values.env.MEMGRAPH_ORGANIZATION_NAME }}
        volumeMounts:
          - name: memgraph-data-{{ $data.id }}-lib-storage
            mountPath: /var/lib/memgraph
          - name: memgraph-data-{{ $data.id }}-log-storage
            mountPath: /var/log/memgraph
          {{- if $.Values.persistentVolumeClaim.createCoreDumpsClaim }}
          - name: memgraph-data-{{ $data.id }}-core-dumps-storage
            mountPath: {{ $.Values.persistentVolumeClaim.coreDumpsMountPath }}
          {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: [ "ALL" ]
          # Run by 'memgraph' user as specified in the Dockerfile
        {{- include "container.data.readinessProbe" $.Values.container.data.readinessProbe | nindent 8 }}
        {{- include "container.data.livenessProbe" $.Values.container.data.livenessProbe | nindent 8 }}
        {{- include "container.data.startupProbe" $.Values.container.data.startupProbe | nindent 8 }}
        {{- with $.Values.resources.data }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}

  volumeClaimTemplates:
    - metadata:
        name: memgraph-data-{{ $data.id }}-lib-storage
      spec:
        accessModes:
        - {{ $.Values.storage.data.libStorageAccessMode }}
        storageClassName: {{ $.Values.storage.data.libStorageClassName }}
        resources:
          requests:
            storage: {{ $.Values.storage.data.libPVCSize }}
    - metadata:
        name: memgraph-data-{{ $data.id }}-log-storage
      spec:
        accessModes:
        - {{ $.Values.storage.data.logStorageAccessMode }}
        storageClassName: {{ $.Values.storage.data.logStorageClassName }}
        resources:
          requests:
            storage: {{ $.Values.storage.data.logPVCSize }}

    {{- if $.Values.persistentVolumeClaim.createCoreDumpsClaim }}
    - metadata:
        name: memgraph-data-{{ $data.id }}-core-dumps-storage
      spec:
        accessModes:
        - "ReadWriteOnce"
        {{- if $.Values.persistentVolumeClaim.coreDumpsStorageClassName }}
        storageClassName: {{ $.Values.persistentVolumeClaim.coreDumpsStorageClassName }}
        {{- end }}
        resources:
          requests:
            storage: {{ $.Values.persistentVolumeClaim.coreDumpsStorageSize }}
    {{- end }}
---
{{- end }}
