{{- range .Values.coordinators }}
---
apiVersion: v1
kind: Service
metadata:
  name: memgraph-coordinator-{{ .id }}
  labels:
    {{- with $.Values.labels.coordinators.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if $.Values.headlessService.enabled }}
  clusterIP: None
  {{- end }}
  selector:
    app: memgraph-coordinator-{{ .id }}
  ports:
    - protocol: TCP
      name: tcp-bolt-port
      port: {{ $.Values.ports.boltPort }}
      targetPort: {{ $.Values.ports.boltPort }}
    - protocol: TCP
      name: tcp-coordinator-port
      port: {{ $.Values.ports.coordinatorPort }}
      targetPort: {{ $.Values.ports.coordinatorPort }}
    - protocol: TCP
      name: tcp-management-port
      port: {{ $.Values.ports.managementPort }}
      targetPort: {{ $.Values.ports.managementPort }}
    {{- if $.Values.prometheus.enabled }}
    - protocol: TCP
      name: tcp-metrics-port
      port: {{ $.Values.ports.metricsPort }}
      targetPort: {{ $.Values.ports.metricsPort }}
    {{- end }}

{{- end }}
