{{- $validCoordServices := list "" "CommonLoadBalancer" "LoadBalancer" "NodePort" "IngressNginx" }}
{{- if not (has .Values.externalAccessConfig.coordinator.serviceType $validCoordServices) }}
  {{- fail "Invalid value for externalAccessConfig.coordinator.serviceType. Use '', 'CommonLoadBalancer', 'LoadBalancer', 'NodePort' or 'IngressNginx'." }}
{{- end }}

{{- if or (eq $.Values.externalAccessConfig.coordinator.serviceType "IngressNginx") (eq $.Values.externalAccessConfig.coordinator.serviceType "") }}
  {{- /* No external service rendered for IngressNginx or empty string */}}
{{- else if eq $.Values.externalAccessConfig.coordinator.serviceType "CommonLoadBalancer" }}
apiVersion: v1
kind: Service
metadata:
  name: coordinators
  {{- with $.Values.externalAccessConfig.coordinator.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- with $.Values.labels.coordinators.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: LoadBalancer
  selector:
    role: coordinator
  ports:
    - protocol: TCP
      name: tcp-bolt-port
      port: {{ $.Values.ports.boltPort }}
      targetPort: {{ $.Values.ports.boltPort }}
{{- else }}
  {{- range .Values.coordinators }}
---
apiVersion: v1
kind: Service
metadata:
  name: memgraph-coordinator-{{ .id }}-external
  {{- with $.Values.externalAccessConfig.coordinator.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- with $.Values.labels.coordinators.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if eq $.Values.externalAccessConfig.coordinator.serviceType "LoadBalancer" }}
  type: LoadBalancer
  {{- else if eq $.Values.externalAccessConfig.coordinator.serviceType "NodePort" }}
  type: NodePort
  {{- end }}
  selector:
    app: memgraph-coordinator-{{ .id }}
  ports:
    - protocol: TCP
      name: tcp-bolt-port
      port: {{ $.Values.ports.boltPort }}
      targetPort: {{ $.Values.ports.boltPort }}
  {{- end }}
{{- end }}
