# Service for data instances internal
{{- range .Values.data }}
---
apiVersion: v1
kind: Service
metadata:
  name: memgraph-data-{{ .id }}
spec:
  type: ClusterIP
  selector:
    app: memgraph-data-{{ .id }}
  ports:
    - protocol: TCP
      name: bolt
      port: {{ $.Values.memgraph.ports.boltPort }}
      targetPort: {{ $.Values.memgraph.ports.boltPort }}
    - protocol: TCP
      name: management
      port: {{ $.Values.memgraph.ports.managementPort }}
      targetPort: {{ $.Values.memgraph.ports.managementPort }}
    - protocol: TCP
      name: replication
      port: {{ $.Values.memgraph.ports.replicationPort }}
      targetPort: {{ $.Values.memgraph.ports.replicationPort }}
{{- end }}

# Service for data instances external
{{- range .Values.data }}
---
apiVersion: v1
kind: Service
metadata:
  name: memgraph-data-{{ .id }}-external
spec:
{{- if $.Values.memgraph.dataInstanceLoadBalancer.enabled}}
  type: LoadBalancer
{{- else }}
  type: NodePort
{{- end }}
  selector:
    app: memgraph-data-{{ .id }}
  ports:
    - protocol: TCP
      name: bolt
      port: {{ $.Values.memgraph.ports.boltPort }}
      targetPort: {{ $.Values.memgraph.ports.boltPort }}
      nodePort: {{ add 32010 .id }}
{{- end }}
