{{- range .Values.data }}
---
apiVersion: v1
kind: Service
metadata:
  name: memgraph-data-{{ .id }}
  labels:
    {{- with $.Values.labels.data.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if $.Values.headlessService.enabled }}
  clusterIP: None
  {{- end }}
  selector:
    app: memgraph-data-{{ .id }}
  ports:
    - protocol: TCP
      name: tcp-bolt-port
      port: {{ $.Values.ports.boltPort }}
      targetPort: {{ $.Values.ports.boltPort }}
    - protocol: TCP
      name: tcp-management-port
      port: {{ $.Values.ports.managementPort }}
      targetPort: {{ $.Values.ports.managementPort }}
    - protocol: TCP
      name: tcp-replication-port
      port: {{ $.Values.ports.replicationPort }}
      targetPort: {{ $.Values.ports.replicationPort }}
    {{- if $.Values.prometheus.enabled }}
    - protocol: TCP
      name: tcp-metrics-port
      port: {{ $.Values.ports.metricsPort }}
      targetPort: {{ $.Values.ports.metricsPort }}
    {{- end }}
{{- end }}
