.claude/
CLAUDE.md
.DS_store
docker/
*.tgz
.helm/
*.swp
*.bak
.DS_Store
Thumbs.db
charts/memgraph-high-availability/charts/
.vscode/
# Jetbrains IDEs
/.idea
/.ai/mcp/mcp.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
