image:
  repository: memgraph/memgraph-mage
  # Overrides the image tag whose default is v{{ .Chart.AppVersion }}
  tag: ""
  pullPolicy: IfNotPresent

## Image Secrets for custom images
imagePullSecrets: [{ name: regcred }]

replicaCount: 1

## Node Affinity Preferred
# By setting theses parameters the PREFERRED deployment will be done first on the match LABELS with key and value then on other nodes.
# nodeKey: "nodegroup" give the name of a key
# Operator is In
# nodeAffinity: "memgraph" give the value of the key

nodeKey:
nodeAffinity:

service:
  ## ClusterIP, NodePort, LoadBalancer
  # ClusterIP keep the service inside the cluster makes it secure
  # NodePort would create a external port change port: between 30000-32767 accessible to all the nodes and Public IPs if not in a VPC
  # LoadBalancer is compabile with Cloud Providers on port: 80 without SSL redirected to the 7687
  type: ClusterIP
  port: 7687
  targetPort: 7687
  protocol: TCP
  annotations: {}
  
persistentVolumeClaim:
  ## createStoragePVC `true` will create for each statefulset server a Persistant Volume Claim
  ## `false` will let you choose an existing Persistant Volume Claim or will create one with an existing volume
  createStorageClaim: false
  ## Using a Storage Class Name with policy `retain` will keep the Persistant Volume Claim and the Volume
  ## If you use a Storage Class Name with policy `delete` the Persistant Volume Claim and Volume will be deleted when the helm release is deleted
  storageClassName: retain
  ## Storage Size must me at minimum 4x the maximum size of your Dataset for Snapshots 
  ## See documentation for choosing the right size depending on the number of Snapshots you want to keep
  ## Default is 3 snapshots and you need space to create a new one and WAL files
  storageSize: 500Gi
  
  ## if `createStoragePVC` is `false`
  ## Write the name and exising Persistant Volume Claim
  existingClaim: memgraph-0
  ## If you want to create a Persistant Volume Claim for an existing Volume
  storageVolumeName: 
  
  ## Create a Dynamic Persistant Volume Claim for Logs
  # `false` will only write logs to stdout / stderr
  createLogStorage: false
  logStorageClassName: ""
  logStorageSize: 256Mi

memgraphConfig:
- "--also-log-to-stderr=true"

memgraphUser: 
memgraphPassword: 

## Memgraph Enterprise Licence
# memgraphEnterpriseLicense: "<your-license>"
# memgraphOrganizationName: "<your-organization-name>"

memgraphEnterpriseLicense: ""
memgraphOrganizationName: ""

# Annotations to add to the statefulSet
statefulSetAnnotations: {}
# Annotations to add to the Pod
podAnnotations: {}

resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
