name: Lint and Test Charts Memgraph

on:
  pull_request:
    paths:
      - 'charts/memgraph/**'


jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --check-version-increment=false

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.8.0

      - name: Set up Memgraph environment variables
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          echo "MEMGRAPH_ENTERPRISE_LICENSE=${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}" >> $GITHUB_ENV
          echo "MEMGRAPH_ORGANIZATION_NAME=${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}" >> $GITHUB_ENV

      - name: Create Kubernetes secrets
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          kubectl create secret generic memgraph-secrets \
            --from-literal=MEMGRAPH_USER=memgraph \
            --from-literal=MEMGRAPH_PASSWORD=memgraph \
            --namespace default

      - name: Verify Kubernetes secrets
        if: steps.list-changed.outputs.changed == 'true'
        run: kubectl get secrets --namespace default

      - name: Display kubectl context
        if: steps.list-changed.outputs.changed == 'true'
        run: kubectl config current-context

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --target-branch ${{ github.event.repository.default_branch }} --helm-extra-set-args "--set secrets.enabled=true" --excluded-charts memgraph-high-availability, memgraph-lab --namespace default
