name: Lint and Test Charts High Availability

on:
  pull_request:
    paths:
      - 'charts/memgraph-high-availability/**'


jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}
        continue-on-error: true

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.8.0

      - name: Set up Memgraph environment variables
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          echo "MEMGRAPH_ENTERPRISE_LICENSE=${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}" >> $GITHUB_ENV
          echo "MEMGRAPH_ORGANIZATION_NAME=${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}" >> $GITHUB_ENV

      - name: Custom Helm install for memgraph-high-availability
        if: steps.list-changed.outputs.changed == 'true'
        env:
            MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
            MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
        run: |
            helm install mem-ha-test ./charts/memgraph-high-availability \
                --set memgraph.env.MEMGRAPH_ENTERPRISE_LICENSE=$MEMGRAPH_ENTERPRISE_LICENSE \
                --set memgraph.env.MEMGRAPH_ORGANIZATION_NAME=$MEMGRAPH_ORGANIZATION_NAME

      - name: Wait for Memgraph setup to complete
        if: steps.list-changed.outputs.changed == 'true'
        run: sleep 30

      - name: Check the status of Memgraph setup
        if: steps.list-changed.outputs.changed == 'true'
        run: |
            pods=$(kubectl get pods --selector=job-name=memgraph-setup --output=jsonpath='{.items[*].metadata.name}')
            for pod in $pods; do
                echo "Logs from $pod:"
                kubectl logs $pod
            done

      - name: Run Helm tests
        if: steps.list-changed.outputs.changed == 'true'
        run: |
            timeout 30 helm test mem-ha-test  # If connection to some port is broken, this will timeout with code 124
